body {
  background-color: #f5f5f5;
  font-size: 20px;
  line-height: 1.5;
  font-family: "Urbanist", sans-serif;
  margin: 0;
}

h1 {
  font-family: "Lato", sans-serif;
  font-size: 60px;
  text-align: center;
  color: #cd5c5c;
}

h2,
h3 {
  font-size: 40px;
  font-family: "Urbanist", sans-serif;
  font-weight: bold;
  color: #696969;
  margin-top: 0;
}

h3 {
  font-weight: 600;
  text-align: center;
  margin: 0;
}

.about,
.education {
  background-color: #fee7e4;
}

.courses .contact {
  background-color: #ebebeb;
}

.footer {
  text-align: center;
  background-color: #A9A9A9;
  font-weight: 400;
  padding: 20px 0;
}

.foto1 {
  display: block;
  width: 230px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

section {
  padding: 50px 15%;
}

header {
  background-image: url(obrazky/cervena.jpg);
  opacity: 0.7;
  padding: 40px 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.menu li {
  display: inline-block;
}

.menu {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: 	#A9A9A9;
}

.menu a {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 27px;
  padding: 20px 30px;
}

.menu a:hover,
.menu a:focus,
.menu a:active {
  background-color: #fa8072;
}

table {
  border-spacing: 0;
  width: 750px;
}

th,
td {
  text-align: left;
  border-bottom: 1px solid #808080;
  padding: 20px 0;
}
