body {
    background-color: #F5F5F5;
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Urbanist', sans-serif;
    margin: 0;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 60px;
    text-align: center;
    color: #CD5C5C;
}

h2 {
    font-size: 40px;
    font-family: 'Urbanist', sans-serif;
    font-weight: bold;
    color: #696969;
    margin-top: 0;
}

.about,
.education {
    background-color: #fee7e4;
}

.courses
.contact {
    background-color: #ebebeb;
}

.paticka {
    text-align: center;
    background-color: darkgray;
    font-weight: 400;
    padding: 20px 0;
}

.foto1 {
    display: block;
    width: 230px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

section {
    padding: 50px 15%;
}